body {
  margin: 0 !important;
  padding: 0 !important;
  --main-theme-color: rgba(255, 204, 153, 1);
}

#header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-theme-color);
  overflow: hidden;
}

#header #lines {
  width: 100%;
  height: 100%;
}

#header .line {
  position: absolute;
  background-color: rgba(255, 230, 204, 1);
}

#header .horizontal {
  height: 1px;
  width: 100%;
  /* Subtracting 10px for margin */
  background-color: rgba(255, 230, 204, 1);
}

#header .vertical {
  width: 1px;
  height: 100%;
  /* Subtracting 10px for margin */
}

.notable-regular {
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gulzar-regular {
  font-family: "Gulzar", serif;
  font-weight: 400;
  font-style: normal;
}

#header #text {
  position: absolute;
  top: 50%;
  left: 100%;
  /* Initially position text outside the container */
  transform: translate(-50%, -50%);
  font-family: Notable;
  font-size: 260px;
  color: Black;
  text-align: center;
  z-index: 1;
  /* Ensure text appears in front of lines */
  animation: moveText 10s linear infinite;
  /* Animation properties */
}

#header .navbar {
  position: absolute;
  top: 2.2%;
  left: 50%;
  transform: translate(-50%);
  z-index: 3;

  background-color: lemonchiffon;
  border: 2px solid orange;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  padding: 8px;
}

#header .navbar-toggler {
  transform: none;
  /* Reset transform for the toggler button */
}

#header .navbar a {
  padding-top: 0px;
  padding-bottom: 0px;
}

#header .navbar-brand {
  color: black !important;
  font-weight: bold;
  font-size: 24px;
}

#header .navbar-nav .nav-item .nav-link {
  color: black !important;
  font-weight: bold;
  transition: all 0.3s ease;
  font-family: Gulzar;
}

.navbar-toggler-icon {
  color: black !important;
  border: 2px solid black;
}

.navbar-brand {
  margin-left: 10px;
  font-family: Cinzel;
}

.navbar-toggler-icon {
  background-image: url("https://img.icons8.com/material-sharp/24/000000/hamburger.png") !important;
  background-size: cover;
}

/*NEW*/
#header .navbar-nav .nav-item .nav-link {
  color: black !important;
  font-weight: bold;
  transition: all 0.3s ease;
  position: relative;
  /* padding-bottom: 5px; */
}

#header .navbar-nav .nav-item .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: all 0.3s ease;
}

#header .navbar-nav .nav-item .nav-link:hover::before {
  background-color: #ff6b6b;
  /* Change to your desired hover color */
}

#header .navbar-nav .nav-item .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #ff6b6b;
  /* Change to your desired hover color */
  transition: all 0.3s ease;
}

#header .navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
}

.fruktur-regular {
  font-family: "Fruktur", system-ui;
  font-weight: 100 !important;
  font-style: normal;
}

.navbar-brand {
  font-family: Fruktur;
  /* font-family: "Mountains of Christmas", serif; */
  /* Apply Roboto font */
  font-size: 50px !important;
  /* Increase font size */
  transform: rotate(-5deg);
  /* Rotate -35 degrees counter-clockwise */
  position: absolute;
  /* Position absolutely */
  top: -26px;
  /* Adjust top position to extend outside navbar */
  left: -50px;
  /* Adjust right position to extend outside navbar */
  z-index: 999;
  /* Ensure it appears above other navbar content */

  color: #0000ff;
  /* Blue color */
  text-shadow: -1px -1px 0 rgba(255, 204, 153, 1),
    1px -1px 0 rgba(255, 204, 153, 1), -1px 1px 0 rgba(255, 204, 153, 1),
    1px 1px 0 rgba(255, 204, 153, 1);
  /* Pink color */
}

@keyframes moveText {
  0% {
    left: 100%;
    /* Start from right side of container */
  }

  100% {
    left: -100%;
    /* Move to left side of container */
  }
}

/**Header Jems Photo CSS */

#header #photo-div {
  width: 380px;
  height: 590px;

  position: absolute;
  bottom: -50%;
  left: 50%;

  transform: translate(-50%, -50%);
  z-index: 2;

  /* Ensure photo appears in front of both text and lines */
}

#header #jems-photo {
  width: 100%;
  height: 100%;
}

/* Media query for screens smaller than 800px */
@media (max-width: 768px) {
  #header #photo-div {
    width: 250px;
    height: 400px;

    bottom: -30%;
    left: 50%;
  }
}
/* Media query for screens smaller than 500px (Phones) */
@media (max-width: 500px) {
  #header #photo-div {
    width: 170px;
    height: 300px;

    bottom: -25%;
    left: 50%;
  }
}

/*
    <!-- ABOUT ME CSS --> 
*/

#about {
  border-top: 2px solid black;
  background-color: black;
  color: white;
}

#about .row {
  padding: 10px;
  font-family: cinzel;
}

#about #row1 {
  font-size: 80px;
  margin-bottom: 50px;
}

#about .subrows {
  font-size: 26px;
}

.material-symbols-outlined {
  font-size: 40px !important;
  font-weight: 100 !important;
}

#about .row-title {
  font-weight: 500 !important;
}

.spacing-rows {
  padding: 100px !important;
}

/*<-- Education Section -->
    CSS: 
      - Main Div
      - Fonts
      - Img
      - Rows
      - Styling
      - Arrow
*/

#education {
  border-bottom: 2px solid gray;
  font-family: Lora;
}

#education .spacing-rows-ed {
  padding-top: 100px;
  padding-bottom: 50px;
}

#education .spacing-rows-ed .row {
  margin: auto;
}

#education #row0 h1 {
  font-size: 60px !important;
  font-family: cinzel !important;
}

#education .image-contain {
  padding: 20px;
}

#education #img-div {
  margin-left: auto;
  margin-right: 15%;
  width: 400px !important;
  height: 400px !important;
}

#education .image-contain img {
  width: 100%;
  height: 100%;
}

#education .ed-cols .row {
  padding: 10px;
}

#education .list-group-item {
  border: none !important;
  border-bottom: 2px solid #a03131 !important;
  margin-bottom: 5px;
  padding: 8px 15px !important;
}

#education .list-group-item-action a {
  text-decoration: none;
  color: #007bff;
}

#education .list-group-item-action a:hover {
  text-decoration: underline;
}

.ed-cols h5,
.ed-cols h4 {
  margin-bottom: 10px;
}

#education ul li {
  font-weight: 400;
  font-size: 16px;
}

#education .arrow-box {
  display: inline-block;
  border: 2px solid lightblue !important;
  border-radius: 1px;
}

#education .arrow {
  padding: 2px 4px;
  font-size: 20px;
  color: lightblue;
}

#education .arrow-box:hover {
  border: 2px solid blue !important;
}

#education .arrow:hover {
  color: blue !important;
}

/*<-- Work History Section -->
    CSS: 
      - Main Div
      - Fonts
      - Img
      - Rows
      - Styling
*/

#work-exp {
  border-bottom: 2px solid gray;
  font-family: Lora;
  background-color: black;
  color: white;
}

#work-exp #row0 {
  padding-top: 100px;
  padding-bottom: 50px;
}

#work-exp #row0 .row {
  margin-left: 10%;
}

#work-exp #row0 h1 {
  font-size: 50px !important;
  font-family: cinzel !important;
}

#work-exp #row1 {
  margin-left: 10%;
  margin-right: 8%;
}

/* Time-Line with dots */
#work-exp .timeline {
  position: relative;
  padding: 20px 0;
  list-style: none;
}

#work-exp .timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: rgba(255, 204, 153, 1);
  left: 30px;
  margin: 0;
}

#work-exp .timeline .timeline-item {
  margin-bottom: 80px;
  position: relative;
}

#work-exp .timeline .timeline-item:before {
  content: "";
  display: table;
}

#work-exp .timeline .timeline-item:after {
  content: "";
  display: table;
  clear: both;
}

#work-exp .timeline .timeline-item .timeline-dot {
  position: absolute;
  left: 22px;
  width: 16px;
  height: 16px;
  background: rgba(255, 204, 153, 1);
  border-radius: 50%;
}

#work-exp .timeline .timeline-item .timeline-content {
  margin-left: 60px;
}

#work-exp .timeline-content p {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 17px;
}

#work-exp .second-col-li h3,
h5,
p,
.work-time-strong #dropdownMenuButton {
  margin: 10px !important;
}

#work-exp .second-col-li h3 {
  margin-top: 0px !important;
}

/* Work Exp Dropdowns */

#work-exp .work-exp-dropdowns-main-div #dropdownMenuButton {
  background-color: black;
  color: white;
  border: none !important;
  border-bottom: 1px solid rgba(255, 204, 153, 1) !important;
  width: auto;
  padding-left: 0;
  margin-top: 2px;
}

#work-exp #dropdownContent {
  background-color: black;
  color: white;
  border: 2px solid rgba(255, 204, 153, 1);
  border-radius: 5%;
  box-shadow: 0 2px 4px rgba(255, 204, 153, 1);
}

#work-exp .dropdown-menu {
  padding: 20px !important;
  margin: 20px !important;
}

#work-exp .dd-content-container h5 {
  margin: 10px;
}

#work-exp .dd-content-container h5 span {
  font-size: 24px;
}

#work-exp .dd-content-container ul li {
  padding-bottom: 10px;
  font-size: 15px;
}

#work-exp .timeline-item span {
  display: block;
}

#work-exp .timeline-item .dd-content-line1-2,
#work-exp .timeline-item .dd-content-line1-3 {
  margin-top: 5px;
  text-align: right;
  font-weight: 400;
  font-size: 18px;
}

/*
*** Project Section 
*/

#projects #row0 {
  padding-top: 100px;
  padding-bottom: 50px;
}

#projects #row0 {
  margin-left: 10%;
}

#projects #row0 h1 {
  font-size: 60px !important;
  font-family: cinzel !important;
}

#pro-row-container {
  margin-left: 10%;
  margin-right: 10%;
}

.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carousel-item {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.carousel-control-next,
.carousel-control-prev

/*, .carousel-indicators */ {
  filter: invert(100%);
}

.carousel-indicators li {
  background-color: black !important;
  /* Set the background color to black */
}

.nav-tabs li a {
  color: black;
}

.nav-tabs li a:active {
  color: red;
}

/* Media query for screens smaller than 800px */
@media (max-width: 768px) {
  /* Navbar CSS */
  .navbar-nav li {
    margin: 5px;
  }

  /* About me */
  #about #row1 {
    font-size: 70px;
    margin-bottom: 50px;
  }

  #about .subrows {
    font-size: 25px;
  }

  #about .material-symbols-outlined {
    font-size: 40px !important;
    font-weight: 160 !important;
  }

  .nav-item a {
    margin-left: 20px;
  }

  /* Work Exp */
  .work-col-time {
    margin: 0px 10px 20px 10px !important;
  }

  .work-exp-dropdowns-main-div {
    margin: 10px;
  }

  #education #img-div {
    margin: auto;
  }
}

/* Ensure the modal doesn't cause scroll jump
body.modal-open {
    overflow: hidden;
} */

.btn-custom {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid #003f7f !important;
  text-decoration: none;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-custom:hover {
  color: white !important;
  background-color: #0056b3 !important;
  box-shadow: 0 8px 16px rgba(0, 91, 187, 0.3);
}

.btn-custom:active {
  background-color: #003f7f;
}

.card-title,
.modal-title {
  font-family: Gulzar;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  max-height: 40px;
  /* Set the maximum height for all images */
  width: auto;
  /* Allow width to adjust responsively */
}

.modal-footer button {
  margin-left: 10% !important;
}

/* .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.project-pics {
  height: auto !important;
  /* Set the maximum height for all images */
  max-width: 100px !important;
}

/*TEMP CSS until projects section gets completed.*/

.pro-div {
  border-radius: 2%;
  border-bottom: 2px solid lightgray;
  box-shadow: 0 4px 10px rgba(103, 78, 78, 0.25);
  margin-bottom: 50px;
}

.pro-r-cont-rows {
  padding: 30px 30px 0px 30px;
}

.pro-details {
  padding-bottom: 30px;
}

#pro-row-container {
  border-right: 2px solid black;
}

.construction-section {
  margin-bottom: 80px;
}

.const-img-div {
  margin: auto;
  width: 250px !important;
  height: 250px !important;
}

.const-img-div {
  width: 100%;
  height: 100%;
}

.dropdown-menu {
  transform: none !important;
  top: 100% !important;
  left: 0 !important;
  will-change: unset !important;
}

.footer {
  background-color: #343a40;
  color: #ffffff;
}

.footer a {
  color: #ffc107;
  text-decoration: none;
}

.footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.footer h5 {
  margin-bottom: 20px;
}

.footer .list-unstyled li {
  margin-bottom: 10px;
  margin-left: 14px;
}

/*
*********************** PROJECTS (NEW) ***************
*/

.hexagon-main-div {
  display: flex;
  --s: 100px; /* size  */
  --m: 4px; /* margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);
}

.hexagon-main-div .container {
  font-size: 0; /*disable white space between inline block element */
}

.hexagon-main-div .container div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s) * 1.1547);
  display: inline-block;
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background: var(--main-theme-color);
  margin-bottom: calc(var(--m) - var(--s) * 0.2885);

  cursor: pointer;
}
.hexagon-main-div .container div:nth-child(odd) {
}
.hexagon-main-div .container::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(
    #0000 0 calc(var(--f) - 3px),
    #000 0 var(--f)
  );
}

.hexagon-main-div .container div:hover {
    transform: translateY(-10px); /* Subtle hover effect */
}



#project-section{
    padding-bottom: 200px;
    background-color: black;
}

#project-section #row1{
    font: 100px;
    color: var(--main-theme-color);
    border: 2px solid red;
    margin-top: 100px !important;
    text-align: center;
}